{% extends "loged_out.html" %}

{% block content_title %}
    [ Welcome to TheSocialnet ]
{% endblock %}

{% block content %}
    <h1 align="center">[ Welcome to TheSocialnet ]</h1>

    <p>Thesocialnet  is an online directory that connects people through social networks at colleges.</p>
    <p>We have opened up Thesocialnet for popular consumption at <b>Codeacademy</b>.</p>
    <p>You can use TheSocialnet to:
    <br><b>&#8226;</b>&nbsp; Search for people at your school
    <br>&nbsp;<b>&#8226;</b>&nbsp; Find out who are in your classes
    <br>&nbsp;<b>&#8226;</b>&nbsp; Look up your friends' friends
    <br>&nbsp;<b>&#8226;</b>&nbsp; See a visualization of your social network
    </p>
    <p>To get started, click below to register. If you have already registered, you can log in.</p>
        <center>
            <input type="button" class="inputsubmit" value="register"
                onclick="javascript:document.location='/register';">
            <input type="button" class="inputsubmit" value="login"
                onclick="javascript:document.location='/login';">&nbsp;
        </center>
{% endblock %}