{% extends "loged_in.html" %}

{% block content_title %}
    Invite
{% endblock %}

{% block my_requests %}
    {{ my_requests }}
{% endblock %}

{% block my_messages %}
    {{ my_messages }}
{% endblock %}

{% block content %}
        <form method="post" action="/search">
            <table id="profile_table" width="100%" class="solid_blue_border">
                <tr>
                    <td width="20%" class="content_table_heading">Invite</td>
                    <td class="content_table_heading" align="right"></td>
                </tr>
             
                <tr>
                    <td>Invite:</td>
                    <td><input type="text" class="inputtext" name="home_town" value="{{ user.home_town }}" size="30"></td>
                </tr>
                
            </table>
            <center>
                <br><input type="submit" value="Search" class="inputsubmit"><br>
            </center>
        </form>
{% endblock %}