{% extends "loged_in.html" %}

{% block content_title %}
    Search
{% endblock %}

{% block my_requests %}
    {{ my_requests }}
{% endblock %}

{% block my_messages %}
    {{ my_messages }}
{% endblock %}

{% block content %}
        <form method="post" action="/search">
            <table id="search_table" width="100%" class="solid_blue_border">
                <tr>
                    <td class="content_table_heading">Search - 
                        <select class="inputtext" name="search_field" style="width: 200px;">
                            <option value="name">Name</option>
                            <option value="email">Email</option>
                            <option value="school">School</option>
                            <option value="school_status">School status</option>
                            <option value="sex">Sex</option>
                            <option value="residence">Residence</option>
                            <option value="birthday">Birthday</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <input type="text" class="inputtext" name="search_query" value="{{ '' }}" style="width: 80%;">
                            <input type="submit" value="Search" class="inputsubmit">
                    </center>
                    </td>
                </tr>
            </table>
            <br>
            {% if search_results == None -%}
            <b>Please search by typing in the field above.</b>
            {% elif search_results|length > 0 -%}
                
                {% for result in search_results %}
			        <table class="solid_blue_border" width="100%">
			        	<tr>
                            <td align="center" class="solid_blue_border" rowspan="4"><img style="margin-top: 5px; margin-bottom: 5px;" width="190px" src="{{ url_for('static', path='profile_img/')}}{{ result.picture_src }}"></td>
                            <td width="150px">Name: {{ result.name }}</td>
                            <td width="150px" class="solid_blue_border">View Profile</td>
                        </tr>
                        <tr>
                            <td>School: {{ result.school }}</td>
                            <td class="solid_blue_border">View Friends</td>
                        </tr>
                        <tr>
                            <td>Residence: {{ result.residence }}</td>
                            <td class="solid_blue_border">Add to Friends</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="solid_blue_border">Send Message</td>
                        </tr>
                    </table>
                    <br>   
                {% endfor %}
            {% else %}
            <i>No matches to your search. Please try again.</i>
            {% endif %}
        </form>
{% endblock %}
