{% extends "base.html" %}

{% block topnav%}
    <a class="top_nav_link" href='/home'>home</a>&nbsp;&nbsp;
    <a class="top_nav_link" href='/search'>search</a>&nbsp;&nbsp;
    <a class="top_nav_link" href="/invite">invite</a>&nbsp;&nbsp;
    <a class="top_nav_link" href='/logout'>logout</a>&nbsp;&nbsp;
{% endblock %}}

{% block leftnav %}
    <div class="dashed_blue_border">
            <br/>
            <a class="left_nav_link" href="/home">My Profile</a><a class="left_nav_link" href="/profile">[ edit ]</a><br>
            <a class="left_nav_link" href="/reqs">My&nbsp;Requests&nbsp;<b>[ {% block my_requests %}{% endblock %} ]</b></a><br>
            <a class="left_nav_link" href="/editfriends">My Friends</a><br>
            <!--<a href="browse.php">My Network</a><br>-->
            <a class="left_nav_link" href="">My Messages&nbsp;<b>[ {% block my_messages %}{% endblock %}  ]</b></a>
            <br>
            <a class="left_nav_link" href="">My Account</a><br>
            <br/>
            <!--<a href="/accountprivacy">My Privacy</a><br>-->
    </div>
{% endblock%}

{% block content_title %}{% endblock %}
{% block content %}{% endblock %}